@font-face {
  font-family: "Paytone";
  src: url(./assets/Paytone_One/PaytoneOne-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(./assets/Open_Sans/OpenSans-VariableFont.ttf);
  font-weight: 300 800;
  font-stretch: 75 100;
}
